.media {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
}

.comments-section, .user-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.comments-section {
    flex: 2;
}

.user-info {
    height: 700px;
    flex: 1;
}

.forumTitle{
    font-size: 20px;
}

.comment-box h3, .user-info h3 {
    margin-bottom: 15px;
    color: #333;
}

.comment {
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.comment p {
    margin: 0;
}

.comment-form {
    margin-top: 20px;
    display: flex;
    gap: 10px; /* Add some space between textarea and button */
}

.comment-form textarea {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}


/* left input */
.user-details {
    position: relative;
}
.name-inputs {
    display: flex;
    justify-content: space-between;
}

.edit-input {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
}

#nameInput {
    padding: 5px;
    border: #ccc 1px solid;
    border-radius: 5px;
    width: 50%;
}
#lastNameInput {
    padding: 5px;
    border: #ccc 1px solid;
    border-radius: 5px;
    width: 50%;
}

#emailInput {
    border: #ccc 1px solid;
    border-radius: 5px;
    top: 40px;
}

.showInput{
    display: block;
}
#passWordInput{
    border: #ccc 1px solid;
    border-radius: 5px;
    top: 80px;
}
.hidenUser{
    display: none;
}
#editUserInfo{
    margin-top: 100px;
}
#userName{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
#userEmail{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}