<style scoped></style>
<template>
  <div>
    <!-- header section starts      -->

    <header class="header">
      <router-link to="/dashboard" class="logo">
        <span>Gym</span>FIT
      </router-link>

      <div id="menu-btn" class="fas fa-bars"></div>

      <nav class="navbar">
        <a id="UserInfo">UserInfo</a>
        <a href="javascript:void(0)" @click="scrollToSection('home')">home</a>
        <a href="javascript:void(0)" @click="scrollToSection('about')">about</a>
        <a href="javascript:void(0)" @click="scrollToSection('features')"
          >features</a
        >
        <a href="javascript:void(0)" @click="scrollToSection('pricing')"
          >pricing</a
        >
        <a href="javascript:void(0)" @click="scrollToSection('trainers')"
          >trainers</a
        >
        <a href="javascript:void(0)" @click="scrollToSection('blogs')">blogs</a>
        <router-link to="/forum">forum</router-link>
        <router-link to="/publish/add">publish</router-link>
      </nav>
    </header>

    <!-- header section ends     -->
    <!-- home section starts  -->

    <section class="home" id="home">
      <div class="swiper home-slider">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide slide"
            :style="{
              background:
                'url(' +
                require('../assets/images/home-bg-1.jpg') +
                ')  no-repeat',
            }"
          >
            <div class="content">
              <span>be strong, be fit</span>
              <h3>Make yourself stronger than your excuses.</h3>
            </div>
          </div>

          <div
            class="swiper-slide slide"
            :style="{
              background:
                'url(' +
                require('../assets/images/home-bg-2.jpg') +
                ')  no-repeat',
            }"
          >
            <div class="content">
              <span>be strong, be fit</span>
              <h3>Make yourself stronger than your excuses.</h3>
            </div>
          </div>

          <div
            class="swiper-slide slide"
            :style="{
              background:
                'url(' +
                require('../assets/images/home-bg-3.jpg') +
                ')  no-repeat',
            }"
          >
            <div class="content">
              <span>be strong, be fit</span>
              <h3>Make yourself stronger than your excuses.</h3>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- home section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">
      <div class="image">
        <img src="../assets/images/about-img.jpg" alt="" />
      </div>

      <div class="content">
        <span>about us</span>
        <h3 class="title">Every day is a chance to become better</h3>
        <p>
          Welcome to FitLife Gym! Our journey began in 2010 when our founder,
          Sarah Mitchell, decided to create a fitness space that would inspire
          and empower people to transform their lives. Sarah’s passion for
          health and wellness led her to establish FitLife Gym as a community
          hub for fitness enthusiasts of all levels.
        </p>
        <div class="box-container">
          <div class="box">
            <h3><i class="fas fa-check"></i>body and mind</h3>
            <p>
              Remember, understanding the body-mind connection empowers us to
              lead healthier, more balanced lives.
            </p>
          </div>
          <div class="box">
            <h3><i class="fas fa-check"></i>healthy life</h3>
            <p>
              Maintaining a healthy lifestyle is essential for overall
              well-being and longevity.
            </p>
          </div>
          <div class="box">
            <h3><i class="fas fa-check"></i>strategies</h3>
            <p>
              Choose the strategies that resonate with you and make them part of
              your daily routine!
            </p>
          </div>
          <div class="box">
            <h3><i class="fas fa-check"></i>workout</h3>
            <p>
              Choose a workout that suits your preferences and gradually
              increase intensity as you progress. Enjoy your fitness journey!
            </p>
          </div>
        </div>
        <a href="#" class="btn">read more</a>
      </div>
    </section>

    <!-- about section ends -->
    <!-- features section starts  -->

    <section class="features" id="features">
      <h1 class="heading"><span>gym features</span></h1>

      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="../assets/images/f-img-1.jpg" alt="" />
          </div>
          <div class="content">
            <img src="../assets/images/icon-1.png" alt="" />
            <h3>body building</h3>
            <p>
              Whether you’re a beginner or an experienced lifter, bodybuilding
              offers a pathway to a stronger, healthier you!
            </p>
            <a href="#" class="btn">read more</a>
          </div>
        </div>

        <div class="box second">
          <div class="image">
            <img src="../assets/images/f-img-2.jpg" alt="" />
          </div>
          <div class="content">
            <img src="../assets/images/icon-2.png" alt="" />
            <h3>gym for men</h3>
            <p>
              When it comes to gym workouts for men, there are various effective
              routines tailored to different goals and fitness levels.
            </p>
            <a href="#" class="btn">read more</a>
          </div>
        </div>

        <div class="box">
          <div class="image">
            <img src="../assets/images/f-img-3.jpg" alt="" />
          </div>
          <div class="content">
            <img src="../assets/images/icon-3.png" alt="" />
            <h3>gym for women</h3>
            <p>
              Certainly! When it comes to gym workouts for women, there are
              several effective options to choose from. Whether you’re a
              beginner or looking to enhance your fitness, here are some
              tailored workout routines.
            </p>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
      </div>
    </section>

    <!-- features section ends -->
    <!-- pricing section starts  -->

    <section class="pricing" id="pricing">
      <div class="information">
        <span>pricing plan</span>
        <h3>affordable pricing plan for your</h3>
        <p>
          Certainly! When it comes to gym membership pricing, there are various
          options available, depending on the gym chain, location, and
          amenities.
        </p>
        <p><i class="fas fa-check"></i> cardio exercise</p>
        <p><i class="fas fa-check"></i> weight lifting</p>
        <p><i class="fas fa-check"></i> diet plans</p>
        <p><i class="fas fa-check"></i> weight loss</p>
        <p><i class="fas fa-check"></i> overall results</p>
        <a class="btn">all pricing</a>
      </div>

      <div class="silver plan">
        <h3>silver plan</h3>
        <div class="price"><span>$</span>30<span>/mo</span></div>
        <div class="list">
          <p><i class="fas fa-check"></i> personal training</p>
          <p><i class="fas fa-check"></i> cardio exercise</p>
          <p><i class="fas fa-check"></i> weight lifting</p>
        </div>
        <a id="silverClick" class="btn">get started</a>
      </div>

      <div class="gold plan">
        <h3>gold plan</h3>
        <div class="price"><span>$</span>90<span>/mo</span></div>
        <div class="list">
          <p><i class="fas fa-check"></i> personal training</p>
          <p><i class="fas fa-check"></i> cardio exercise</p>
          <p><i class="fas fa-check"></i> weight lifting</p>
          <p><i class="fas fa-check"></i> diet plans</p>
        </div>
        <a id="goldClick" class="btn">get started</a>
      </div>

      <div class="diamond plan">
        <h3>diamond plan</h3>
        <div class="price"><span>$</span>150<span>/mo</span></div>
        <div class="list">
          <p><i class="fas fa-check"></i> personal training</p>
          <p><i class="fas fa-check"></i> cardio exercise</p>
          <p><i class="fas fa-check"></i> weight lifting</p>
          <p><i class="fas fa-check"></i> diet plans</p>
          <p><i class="fas fa-check"></i> weight loss</p>
          <p><i class="fas fa-check"></i> overall results</p>
        </div>
        <a id="diamondClick" class="btn">get started</a>
      </div>
    </section>

    <!-- pricing section ends -->

    <!-- trainers section starts  -->

    <section class="trainers" id="trainers">
      <h1 class="heading"><span>expert trainers</span></h1>

      <div class="box-container">
        <div class="box">
          <a href="appointment.html">
            <img
              src="../assets/images/trainer-1.jpg"
              alt="John Deo - Expert Trainer"
            />
          </a>
          <div class="content">
            <span>Expert Trainer</span>
            <h3><a href="appointment.html">John Deo</a></h3>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-pinterest"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
          </div>
        </div>

        <div class="box">
          <a href="appointment.html">
            <img src="../assets/images/trainer-2.jpg" alt="" />
          </a>

          <div class="content">
            <span>expert trainer</span>
            <h3>john deo</h3>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-pinterest"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
          </div>
        </div>

        <div class="box">
          <a href="appointment.html">
            <img src="../assets/images/trainer-3.jpg" alt="" />
          </a>
          <div class="content">
            <span>expert trainer</span>
            <h3>john deo</h3>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-pinterest"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
          </div>
        </div>

        <div class="box">
          <a href="appointment.html">
            <img src="../assets/images/trainer-4.jpg" alt="" />
          </a>
          <div class="content">
            <span>expert trainer</span>
            <h3>john deo</h3>
            <div class="share">
              <a href="#" class="fab fa-facebook-f"></a>
              <a href="#" class="fab fa-twitter"></a>
              <a href="#" class="fab fa-pinterest"></a>
              <a href="#" class="fab fa-linkedin"></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- trainers section ends -->
    <!-- banner section starts  -->

    <section class="banner">
      <span>join us now</span>
      <h3>get upto 50% discount</h3>
      <p>
        Explore our flexible membership options, including monthly, annual, and
        family plans. View pricing details here.
      </p>
      <a href="#" class="btn">get discount</a>
    </section>

    <!-- banner section ends -->
    <!-- review section starts  -->

    <section class="review">
      <div class="information">
        <span>testimonials</span>
        <h3>what our clients says</h3>
        <p>
          FitLife Gym has truly transformed my fitness journey. The trainers are
          not only knowledgeable but also incredibly motivating. The sense of
          community here is unmatched—I’ve made lifelong friends who share my
          passion for health and wellness. Whether I’m lifting weights,
          attending a yoga class, or simply enjoying the positive atmosphere,
          FitLife feels like a second home.
        </p>
        <a href="#" class="btn">read more</a>
      </div>

      <div class="swiper review-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide">
            <p>
              At FitLife, I’ve not only transformed physically but also found a
              fitness family. It’s more than a gym—it’s a community!
            </p>
            <div class="user">
              <img src="../assets/images/pic-1.png" alt="" />
              <div class="info">
                <h3>john deo</h3>
                <span>designer</span>
              </div>
              <i class="fas fa-quote-left"></i>
            </div>
          </div>

          <div class="swiper-slide slide">
            <p>
              FitLife Gym has been a game-changer for me. The trainers genuinely
              care about my progress, and the atmosphere is so motivating!
            </p>
            <div class="user">
              <img src="../assets/images/pic-2.png" alt="" />
              <div class="info">
                <h3>john deo</h3>
                <span>designer</span>
              </div>
              <i class="fas fa-quote-left"></i>
            </div>
          </div>

          <div class="swiper-slide slide">
            <p>
              I’ve tried several gyms, but none compare to FitLife. The
              personalized attention, diverse workout options, and friendly
              community keep me motivated.
            </p>
            <div class="user">
              <img src="../assets/images/pic-3.png" alt="" />
              <div class="info">
                <h3>john deo</h3>
                <span>designer</span>
              </div>
              <i class="fas fa-quote-left"></i>
            </div>
          </div>

          <div class="swiper-slide slide">
            <p>
              The trainers are not only knowledgeable but also incredibly
              supportive.
            </p>
            <div class="user">
              <img src="../assets/images/pic-4.png" alt="" />
              <div class="info">
                <h3>john deo</h3>
                <span>designer</span>
              </div>
              <i class="fas fa-quote-left"></i>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- review section ends -->

    <!-- blogs section starts  -->

    <section class="blogs" id="blogs">
      <h1 class="heading"><span>daily posts</span></h1>

      <div class="swiper blogs-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide">
            <div class="image">
              <img src="../assets/images/blog-1.jpg" alt="" />
            </div>
            <div class="content">
              <div class="link">
                <a href="#">by user</a> <span>|</span>
                <a href="#">21st may, 2021</a>
              </div>
              <h3>fitness is not about being better than someone else</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Aliquam, tenetur?
              </p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>

          <div class="swiper-slide slide">
            <div class="image">
              <img src="../assets/images/blog-2.jpg" alt="" />
            </div>
            <div class="content">
              <div class="link">
                <a href="#">by user</a> <span>|</span>
                <a href="#">21st may, 2021</a>
              </div>
              <h3>fitness is not about being better than someone else</h3>
              <p>
                It’s a personal journey of growth, strength, and resilience.
                When you focus on progress rather than comparison, you unlock
                your true potential. Celebrate every small victory, honor your
                body, and remember that the only competition that truly matters
                is the one within yourself.
              </p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>

          <div class="swiper-slide slide">
            <div class="image">
              <img src="../assets/images/blog-3.jpg" alt="" />
            </div>
            <div class="content">
              <div class="link">
                <a href="#">by user</a> <span>|</span>
                <a href="#">21st may, 2021</a>
              </div>
              <h3>Results That Speak Louder</h3>
              <p>
                Months passed, and I noticed changes—more defined muscles,
                increased stamina, and a newfound confidence. But beyond the
                physical, I felt happier, more focused, and ready to conquer
                life’s challenges. FitLife had become my sanctuary—a place where
                I could recharge, connect, and thrive.
              </p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>

          <div class="swiper-slide slide">
            <div class="image">
              <img src="../assets/images/blog-4.jpg" alt="" />
            </div>
            <div class="content">
              <div class="link">
                <a href="#">by user</a> <span>|</span>
                <a href="#">21st may, 2021</a>
              </div>
              <h3>Mind Over Matter</h3>
              <p>
                FitLife taught me that fitness isn’t just about physical
                strength; it’s about mental resilience. On days when I felt
                tired or demotivated, the trainers reminded me that progress
                happens one step at a time. They celebrated my victories, no
                matter how small, reinforcing the belief that consistency pays
                off.
              </p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>

          <div class="swiper-slide slide">
            <div class="image">
              <img src="../assets/images/blog-5.jpg" alt="" />
            </div>
            <div class="content">
              <div class="link">
                <a href="#">by user</a> <span>|</span>
                <a href="#">21st may, 2021</a>
              </div>
              <h3>The Power of Accountability</h3>
              <p>
                At FitLife, I discovered the magic of accountability. Having a
                scheduled workout time and a supportive community made all the
                difference. Whether it was lifting weights, attending yoga
                classes, or sweating it out in HIIT sessions, I felt
                accountable—to myself and to the amazing people around me.
              </p>
              <a href="#" class="btn">read more</a>
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- blogs section ends -->

    <!-- footer section starts  -->

    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>quick links</h3>
          <a
            class="links"
            href="javascript:void(0)"
            @click="scrollToSection('home')"
            >home</a
          >
          <a
            class="links"
            href="javascript:void(0)"
            @click="scrollToSection('about')"
            >about</a
          >
          <a
            class="links"
            href="javascript:void(0)"
            @click="scrollToSection('features')"
            >features</a
          >
          <a
            class="links"
            href="javascript:void(0)"
            @click="scrollToSection('pricing')"
            >pricing</a
          >
          <a
            class="links"
            href="javascript:void(0)"
            @click="scrollToSection('trainers')"
            >trainers</a
          >
          <a class="links" href="#">view classes</a>
          <a class="links" href="#">member center</a>
          <a
            class="links"
            href="javascript:void(0)"
            @click="scrollToSection('blogs')"
            >blogs/comunity</a
          >
        </div>

        <div class="box">
          <h3>opening hours</h3>
          <p>monday : <i> 7:00am - 10:30pm </i></p>
          <p>tuesday : <i> 7:00am - 10:30pm </i></p>
          <p>wednesday : <i> 7:00am - 10:30pm </i></p>
          <p>friday : <i> 7:00am - 10:30pm </i></p>
          <p>saturday : <i> 7:00am - 10:30pm </i></p>
          <p>sunday : <i> closed </i></p>
        </div>

        <div class="box">
          <h3>contact us</h3>
          <p><i class="fas fa-phone"></i> 156-8382-2267</p>
          <p><i class="fas fa-phone"></i> 0512-625-80123</p>
          <p><i class="fas fa-envelope"></i>3245338358@qq.com</p>
          <p><i class="fas fa-map"></i> Hongkon'g, China - 400104</p>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
          </div>
        </div>

        <div class="box">
          <h3>newsletter</h3>
          <p>subscribe for latest updates</p>
          <form action="">
            <input
              type="email"
              name=""
              class="email"
              placeholder="enter your email"
              id=""
            />
            <input type="submit" value="subscribe" class="btn" />
          </form>
        </div>
      </div>
    </section>

    <div class="credit">All rights reserved!</div>

    <!-- footer section ends -->
    <div id="editModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2 class="modalH3">Choose your fitness instructor and time.</h2>
        <br />
        <form id="editForm">
          <label class="modalLabel" for="instructorSelect"
            >Select Instructor:</label
          ><br /><br />
          <select
            id="instructorSelect"
            name="instructorSelect"
            class="modalSelect"
          >
            <!-- <option value="instructor1">Instructor 1</option>
                <option value="instructor2">Instructor 2</option> --></select
          ><br /><br />
          <label class="modalLabel" for="dateSelect">Select Date:</label
          ><br /><br />
          <input
            class="modalSelect"
            type="date"
            id="dateSelect"
            name="dateSelect"
          /><br /><br />
          <label class="modalLabel" for="timeSelect">Select Time:</label
          ><br /><br />
          <input
            class="modalSelect"
            type="time"
            id="timeSelect"
            name="timeSelect"
          /><br /><br /><br /><br />
          <button class="modalBtn button" type="submit">
            Appointment time
          </button>
        </form>
      </div>
    </div>
    <div id="userInfoModal" class="modal">
      <div class="modal-content">
        <span class="closeUserInfo">&times;</span>
        <div class="user-info">
          <img src="../assets/images/avatar.png" alt="Avatar" class="avatar" />
          <div class="user-details">
            <h2 id="userModalName" class="modalH3">User Name</h2>
            <p id="userModalemail" class="modalLabel emailModal">
              Email: user@example.com
            </p>
            <div class="appointment-info">
              <p class="modalLabel AppointmentModal">Appointment Record:</p>
              <ul id="appointmentList" class="appointment-list"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="makesureOrder" class="orderModal">
      <div class="modal-content">
        <span class="closeOrder">&times;</span>

        <div class="orderDisplay">
          <div class="orderText">Confirm payment</div>
          <div class="price">
            <span>$</span><i class="price" id="priceNum">30</i><span>/mo</span>
          </div>
          <!-- <div class="price"><span>$</span>90<span>/mo</span></div>
                <div class="price"><span>$</span>150<span>/mo</span></div> -->
          <button class="modalBtn button" id="orderSureBtn">YES</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Dashboard",
  data() {
    return {};
  },
  methods: {
    scrollToSection(sectionId) {
      const section = document.getElementById(sectionId);
      if (section) {
        section.scrollIntoView({ behavior: "smooth" });
      }
    },
  },
  created() {},
  mounted() {
    let menu = document.querySelector("#menu-btn");
    let navbar = document.querySelector(".header .navbar");

    menu.onclick = () => {
      menu.classList.toggle("fa-times");
      navbar.classList.toggle("active");
    };

    window.onscroll = () => {
      menu.classList.remove("fa-times");
      navbar.classList.remove("active");
    };

    var swiper = new Swiper(".home-slider", {
      spaceBetween: 20,
      effect: "fade",
      grabCursor: true,
      loop: true,
      centeredSlides: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });

    var swiper = new Swiper(".review-slider", {
      spaceBetween: 20,
      grabCursor: true,
      loop: true,
      autoplay: {
        delay: 7500,
        disableOnInteraction: false,
      },
      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        600: {
          slidesPerView: 2,
        },
      },
    });

    var swiper = new Swiper(".blogs-slider", {
      spaceBetween: 20,
      grabCursor: true,
      loop: true,
      autoplay: {
        delay: 7500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        0: {
          slidesPerView: 1,
        },
        768: {
          slidesPerView: 2,
        },
        991: {
          slidesPerView: 3,
        },
      },
    });

    const handleEditButtonClick = (index) => {
      const modal = document.getElementById("editModal");
      const span = document.getElementsByClassName("close")[0];
      const editForm = document.getElementById("editForm");

      this.$http
        .get("/api/getTeachers")
        .then((response) => response.json())
        .then((data) => {
          const instructorSelect = document.getElementById("instructorSelect");
          instructorSelect.innerHTML = "";
          data.forEach((teacher) => {
            const option = document.createElement("option");
            option.value = teacher.id;
            option.textContent = teacher.name;
            instructorSelect.appendChild(option);
          });
        })
        .catch((error) => {
          console.error("Error:", error);
        });

      modal.style.display = "block";

      span.onclick = function () {
        if (
          confirm(`
        Are you sure you want to close the reservation page? If the amount is closed, it will be automatically returned to the account`)
        ) {
          modal.style.display = "none";
        }
      };

      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };

      editForm.onsubmit = function (event) {
        event.preventDefault();
        const instructor = document.getElementById("instructorSelect").value;
        const date = document.getElementById("dateSelect").value;
        const time = document.getElementById("timeSelect").value;
        const userData = JSON.parse(localStorage.getItem("userData"));

        const obj = {
          teacherName: instructor,
          time: date + " " + time,
          userName: userData[0].firstname + " " + userData[0].lastname,
          isOver: 0,
        };
        this.$http
          .post("/api/appointment", obj, {
            headers: {
              "Content-Type": "application/json",
            },
          })
          .then((response) => response.json())
          .then((data) => {
            if (data.status == 200) {
              modal.style.display = "none";
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      };
    };

    const orderSureModal = (price) => {
      let makesureOrder = document.getElementById("makesureOrder");
      const span = document.getElementsByClassName("closeOrder")[0];
      makesureOrder.style.display = "block";
      let priceNum = document.getElementById("priceNum");
      priceNum.innerText = price;
      span.onclick = function () {
        makesureOrder.style.display = "none";
      };
      window.onclick = function (event) {
        if (event.target == makesureOrder) {
          makesureOrder.style.display = "none";
        }
      };
    };

    let silverClick = document.getElementById("silverClick");
    let goldClick = document.getElementById("goldClick");
    let diamondClick = document.getElementById("diamondClick");

    silverClick.onclick = () => {
      orderSureModal("30");
      // handleEditButtonClick('1')
    };
    goldClick.onclick = () => {
      orderSureModal("90");
      // handleEditButtonClick('2')
    };
    diamondClick.onclick = () => {
      orderSureModal("150");
      // handleEditButtonClick('3')
    };

    let UserInfoA = document.getElementById("UserInfo");
    UserInfoA.onclick = () => {
      const modal = document.getElementById("userInfoModal");
      const span = document.getElementsByClassName("closeUserInfo")[0];
      modal.style.display = "block";

      const userModalName = document.getElementById("userModalName");
      const userModalemail = document.getElementById("userModalemail");
      const userData = JSON.parse(localStorage.getItem("userData"));
      userModalName.innerText =
        userData[0].firstname + " " + userData[0].lastname;
      userModalemail.innerText = "Email: " + userData[0].email;

      span.onclick = function () {
        modal.style.display = "none";
      };
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
      let obj = {
        userName: userData[0].firstname + " " + userData[0].lastname,
      };
      this.$http
        .post("/api/myAppointmentList", obj, {
          headers: {
            "Content-Type": "application/json",
          },
        })
        .then((response) => response.json())
        .then((data) => {
          const appointmentList = document.querySelector(".appointment-list"); // 修改选择器以匹配 HTML 中的类名
          appointmentList.innerHTML = "";

          if (data && data.length > 0) {
            data.forEach((appointment) => {
              const appointmentItem = document.createElement("li");
              appointmentItem.textContent =
                "teacher:" +
                appointment.teacherName +
                "---time:" +
                appointment.time;
              appointmentList.appendChild(appointmentItem);
            });
          } else {
            // 如果没有预约记录，显示相应信息
            appointmentList.innerHTML +=
              "<p style='color:#fff'>No appointment records found.</p>";
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    };

    let orderSureBtn = document.getElementById("orderSureBtn");

    orderSureBtn.onclick = () => {
      alert("payment successful!");
      let makesureOrder = document.getElementById("makesureOrder");
      makesureOrder.style.display = "none";
      handleEditButtonClick("1");
    };
  },
};
</script>
