<style scoped>
.media {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

.user-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.comments {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.comments-section {
  flex: 2;
  height: fit-content;
}

.user-info {
  height: 700px;
  flex: 1;
}

.forumTitle {
  font-size: 20px;
}

.comment-box h3,
.user-info h3 {
  margin-bottom: 15px;
  color: #333;
}

.comment {
  font-size: 14px;
  margin-top: 15px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.comment p {
  margin: 0;
}

.comment-form {
  margin-top: 20px;
  display: flex;
  gap: 10px; /* Add some space between textarea and button */
}

.comment-form textarea {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

/* left input */
.user-details {
  position: relative;
}
.name-inputs {
  display: flex;
  justify-content: space-between;
}

.edit-input {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  z-index: 2;
}

#nameInput {
  padding: 5px;
  border: #ccc 1px solid;
  border-radius: 5px;
  width: 50%;
}
#lastNameInput {
  padding: 5px;
  border: #ccc 1px solid;
  border-radius: 5px;
  width: 50%;
}

#emailInput {
  border: #ccc 1px solid;
  border-radius: 5px;
  top: 40px;
}

.showInput {
  display: block;
}
#passWordInput {
  border: #ccc 1px solid;
  border-radius: 5px;
  top: 80px;
}
.hidenUser {
  display: none;
}
#editUserInfo {
  margin-top: 100px;
}
#userName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
#userEmail {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.el-image {
  border-radius: 2px;
}
.el-card {
  border: 1px #ebeef5;
  background-color: #fff;
  color: #303133;
  border-radius: 1px;
  padding: 10px 20px;
}
/deep/ .el-card__body {
  padding: 0px;
}
.tag-group {
  margin: 5px 0px 0px 0px;
  text-align: left;
}
.page-text {
  line-height: 60px;
  width: 50%;
  color: #909399;
  text-align: center;
  justify-content: center;
}
.box-card {
  margin-bottom: 10px;
}
.avatar {
  position: relative;
  margin: 30px auto 15px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 9;
}
.card-header {
  padding: 10px 0px;
}
.desc {
  font-size: 15px;
  color: #878d99;
  line-height: 30px;
  font-weight: 100;
  text-align: center;
}
.social {
  padding: 0 20px;
  margin-top: 15px;
}
.link-img {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: auto;
}
.mpage {
  text-align: center;
  margin: 20px 0;
}
</style>
<template>
  <div>
    <header class="header">
      <router-link to="/dashboard" class="logo">
        <span>Gym</span>FIT
      </router-link>

      <div id="menu-btn" class="fas fa-bars"></div>

      <nav class="navbar">
        <router-link to="/dashboard">home</router-link>
        <router-link to="/dashboard">about</router-link>
        <router-link to="/dashboard">features</router-link>
        <router-link to="/dashboard">pricing</router-link>
        <router-link to="/dashboard">trainers</router-link>
        <router-link to="/dashboard">blogs</router-link>
        <router-link to="/publish/add">publish</router-link>
      </nav>
    </header>
    <section class="media">
      <div class="container">
        <div class="comments-section">
          <div class="comments">
            <div class="comment-box">
              <el-main>
                <!--左边的分布-->
                <div>
                  <!--问题列表-->
                  <div v-for="question in questions">
                    <el-card shadow="hover" style="display: flex">
                      <!--同层次div水平分布，然后在居中对齐align-items: center-->
                      <div style="display: flex">
                        <div class="block">
                          <el-link>
                            <el-avatar
                              shape="square"
                              :size="55"
                              :src="question.user.avatar_url"
                            ></el-avatar>
                          </el-link>
                        </div>
                        <div style="margin-left: 10px">
                          <h4>
                            <router-link
                              :to="{
                                name: 'Question',
                                params: { questionId: question.id },
                              }"
                            >
                              <el-link style="font-size: 16px">{{
                                question.title
                              }}</el-link>
                            </router-link>
                          </h4>
                          <!--                      <p>{{question.description}}</p>-->
                          <div style="padding: 7px 0px; color: #909399">
                            <!--传入这个评论创建者的id-->
                            <i class="iconfont el-icon-view"></i
                            ><span style="font-size: 15px">
                              {{ question.view_count }}
                            </span>
                            <i class="iconfont el-icon-chat-dot-square"></i
                            ><span style="font-size: 15px">
                              {{ question.comment_count }}
                            </span>
                            <i class="iconfont el-icon-time"></i
                            ><span style="font-size: 15px">
                              {{ question.gmt_create }}</span
                            >
                          </div>
                        </div>
                      </div>
                    </el-card>
                  </div>
                  <div v-show="questions.length === 0">
                    <el-card shadow="hover">
                      <div style="display: flex; justify-content: center">
                        <span class="page-text"> 暂无问题 </span>
                      </div>
                    </el-card>
                  </div>
                </div>
              </el-main>
            </div>
          </div>
          <!--页码-->
          <el-pagination
            class="mpage"
            background
            layout="prev, pager, next"
            :total="total"
            :current-page="currentPage"
            :page-size="pageSize"
            @current-change="page"
          >
          </el-pagination>
        </div>

        <div class="user-info">
          <img src="../assets/images/avatar.png" alt="Avatar" class="avatar" />
          <div class="user-details">
            <p id="userName" class="forumName">User Name</p>
            <p id="userEmail" class="forumEmail">Email: user@example.com</p>
            <div class="name-inputs">
              <input
                type="text"
                class="hidenUser"
                id="nameInput"
                placeholder="First Name"
              />
              <input
                type="text"
                class="hidenUser"
                id="lastNameInput"
                placeholder="Last Name"
              />
            </div>
            <input
              type="text"
              class="edit-input"
              id="emailInput"
              placeholder="Edit Email"
            />
            <input
              type="text"
              class="edit-input"
              id="passWordInput"
              placeholder="Edit Password"
            />
            <button id="editUserInfo" class="btn">Edit Profile</button>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>quick links</h3>
          <a
            class="links"
            href="javascript:void(0)"
            @click="scrollToSection('home')"
            >home</a
          >
          <a
            class="links"
            href="javascript:void(0)"
            @click="scrollToSection('about')"
            >about</a
          >
          <a
            class="links"
            href="javascript:void(0)"
            @click="scrollToSection('features')"
            >features</a
          >
          <a
            class="links"
            href="javascript:void(0)"
            @click="scrollToSection('pricing')"
            >pricing</a
          >
          <a
            class="links"
            href="javascript:void(0)"
            @click="scrollToSection('trainers')"
            >trainers</a
          >
          <a class="links" href="#">view classes</a>
          <a class="links" href="#">member center</a>
          <a
            class="links"
            href="javascript:void(0)"
            @click="scrollToSection('blogs')"
            >blogs/comunity</a
          >
        </div>

        <div class="box">
          <h3>opening hours</h3>
          <p>monday : <i> 7:00am - 10:30pm </i></p>
          <p>tuesday : <i> 7:00am - 10:30pm </i></p>
          <p>wednesday : <i> 7:00am - 10:30pm </i></p>
          <p>friday : <i> 7:00am - 10:30pm </i></p>
          <p>saturday : <i> 7:00am - 10:30pm </i></p>
          <p>sunday : <i> closed </i></p>
        </div>

        <div class="box">
          <h3>contact us</h3>
          <p><i class="fas fa-phone"></i> 1556-838-22267</p>
          <p><i class="fas fa-phone"></i> 0512-625-80123</p>
          <p><i class="fas fa-envelope"></i>3245338358@qq.com</p>
          <p><i class="fas fa-map"></i> Hongkon'g, China - 400104</p>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
          </div>
        </div>

        <div class="box">
          <h3>newsletter</h3>
          <p>subscribe for latest updates</p>
          <form action="">
            <input
              type="email"
              name=""
              class="email"
              placeholder="enter your email"
              id=""
            />
            <input type="submit" value="subscribe" class="btn" />
          </form>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Forum",
  data() {
    return {
      message: false,
      isVisible: true, //控制web端导航的隐藏和显示
      questions: [
        {
          user: {
            avatar_url: "",
          },
          id: "1",
          title: "pppppppppppppp",
          view_count: 40,
          comment_count: 55,
          gmt_create: 555555555,
        },
      ],
      total: 0,
      currentPage: 1,
      pageSize: 10,
      search: "",
      sort: "new", //控制开头选项
      hots: {},
      tag: "", //用来搜索tag
    };
  },
  methods: {
    handleClick(tab, event) {
      this.page(1);
    },
    page(currentPage) {
      //包含请求头，这样登录首页直接根据token登录
      const _this = this;
      this.$http
        .get(
          "/?page=" +
            currentPage +
            "&size=" +
            this.pageSize +
            "&search=" +
            this.search +
            "&tag=" +
            this.tag +
            "&sort=" +
            this.sort
        )
        .then((res) => {
          _this.questions = res.data.data.questionDtos;
          for (const question of _this.questions) {
            question.gmt_create = _this
              .$moment(question.gmt_create)
              .format("YYYY-MM-DD");
          }
          _this.currentPage = res.data.data.currentPage;
          _this.total = res.data.data.totalPages * _this.pageSize;
        });
    },
    init() {
      let editBtn = document.getElementById("editUserInfo");
      let userName = document.getElementById("userName");
      let userEmail = document.getElementById("userEmail");
      let nameInput = document.getElementById("nameInput");
      let lastNameInput = document.getElementById("lastNameInput");
      let emailInput = document.getElementById("emailInput");
      let passWordInput = document.getElementById("passWordInput");

      let userData = JSON.parse(localStorage.getItem("userData"));

      let editShow = false;
      editBtn.onclick = () => {
        if (!editShow) {
          userName.classList.add("hidenUser");
          userEmail.classList.add("hidenUser");
          nameInput.classList.remove("hidenUser");
          lastNameInput.classList.remove("hidenUser");
          emailInput.classList.add("showInput");
          passWordInput.classList.add("showInput");

          nameInput.value = userData[0].firstname;
          lastNameInput.value = userData[0].lastname;
          emailInput.value = userData[0].email;
          passWordInput.value = userData[0].password;
        } else {
          userName.classList.remove("hidenUser");
          userEmail.classList.remove("hidenUser");
          nameInput.classList.add("hidenUser");
          lastNameInput.classList.add("hidenUser");
          emailInput.classList.remove("showInput");
          passWordInput.classList.remove("showInput");

          const obj = {
            email: document.getElementById("emailInput").value,
            password: document.getElementById("passWordInput").value,
            firstname: document.getElementById("nameInput").value,
            lastname: document.getElementById("lastNameInput").value,
            id: "1", //暂时固定
          };
          this.$http
            .post("/updateUser", {
              ...obj,
            })
            .then((response) => response.json())
            .then((data) => {
              if (res.code !== 200) {
                // this.$Loading.error()
                this.$Message.error("error");
                return;
              }
              // this.$Loading.finish()
              userName.innerText = obj.firstname + " " + obj.lastname;
              userEmail.innerText = "Email: " + obj[0].email;
              this.$Message.success("update success!");
            });
        }

        editShow = !editShow;
      };
      userName.innerText = userData[0].firstname + " " + userData[0].lastname;
      userEmail.innerText = "Email: " + userData[0].email;
    },
    getEvaluationList() {
      this.$http
        .get("/api/evaluationList")
        .then((response) => response.json())
        .then((data) => {
          data.forEach((data) => {
            const commentElement = document.createElement("div");
            commentElement.classList.add("comment");
            const commentContent = document.createElement("p");
            commentContent.innerHTML = `<strong>${data.userName}:</strong> ${data.content}`;
            commentElement.appendChild(commentContent);
            const commentBox = document.querySelector(".comment-box");
            commentBox.appendChild(commentElement);
          });
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    },
  },
  created() {
    // if (
    //   this.$route.query.search != null &&
    //   this.$route.query.search != undefined
    // ) {
    //   this.search = this.$route.query.search;
    // }
    this.page(1);
  },
  mounted() {
    // ele
    this.init();
    this.getEvaluationList();
    var that = this;
    var offset = 300;
    var after = 0;
    window.addEventListener("scroll", function () {
      let scrollTop = document.documentElement.scrollTop; //当前的的位置
      let scrollHeight = document.documentElement.scrollHeight; //最高的位置
      if (scrollTop > offset) {
        that.isCdTopVisible = true;
      } else {
        that.isCdTopVisible = false;
      }
      if (scrollTop > after) {
        that.isVisible = false;
      } else {
        that.isVisible = true;
      }
      after = scrollTop;
    });
  },
};
</script>
