<style>
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
}
.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
  z-index: 100;
}
.nav-logo p {
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.nav-menu ul {
  display: flex;
}
.nav-menu ul li {
  list-style-type: none;
}
.nav-menu ul li .link {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;
}
.link:hover,
.active {
  border-bottom: 2px solid #fff;
}
.nav-button .btn {
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.3);
}
#registerBtn {
  margin-left: 15px;
}
.btn.white-btn {
  background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover {
  background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn {
  display: none;
}
.form-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 420px;
  overflow: hidden;
  z-index: 2;
}
.login-container {
  position: absolute;
  left: 4px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}
.register-container {
  position: absolute;
  right: -520px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}
.top span {
  color: #fff;
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.top span a {
  font-weight: 500;
  color: #fff;
  margin-left: 5px;
}
header {
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
}
.two-forms {
  display: flex;
  gap: 10px;
}
.input-field {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}
.input-field:hover,
.input-field:focus {
  background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder {
  color: #fff;
}
.input-box i {
  position: relative;
  top: -32px;
  left: 17px;
  color: #fff;
}
.submit {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.submit:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}
.two-col .one {
  display: flex;
  gap: 5px;
}
.two label a {
  text-decoration: none;
  color: #fff;
}
.two label a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 786px) {
  .nav-button {
    display: none;
  }
  .nav-menu.responsive {
    top: 100px;
  }
  .nav-menu {
    position: absolute;
    top: -800px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 90vh;
    backdrop-filter: blur(20px);
    transition: 0.3s;
  }
  .nav-menu ul {
    flex-direction: column;
    text-align: center;
  }
  .nav-menu-btn {
    display: block;
  }
  .nav-menu-btn i {
    font-size: 25px;
    color: #fff;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }
  .nav-menu-btn i:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}
@media only screen and (max-width: 540px) {
  .wrapper {
    min-height: 100vh;
  }
  .form-box {
    width: 100%;
    height: 500px;
  }
  .register-container,
  .login-container {
    width: 100%;
    padding: 0 20px;
  }
  .register-container .two-forms {
    flex-direction: column;
    gap: 0;
  }
}
.box {
}
</style>
<template>
  <div class="box">
    <div class="wrapper">
      <nav class="nav">
        <div class="nav-menu" id="navMenu">
          <div class="nav-button">
            <button class="btn white-btn" id="loginBtn">Sign In</button>
            <button class="btn" id="registerBtn">Sign Up</button>
          </div>
          <div class="nav-menu-btn">
            <i class="bx bx-menu" id="myMen"></i>
          </div>
        </div>
      </nav>

      <!----------------------------- Form box ----------------------------------->
      <div class="form-box">
        <!------------------- login form -------------------------->

        <div class="login-container" id="login">
          <div class="top">
            <span
              >Don't have an account?
              <a href="javascript:void(0)">Sign Up</a></span
            >
            <header>Login</header>
          </div>
          <div class="input-box">
            <input
              type="text"
              class="input-field"
              placeholder="Email"
              name="username"
            />
            <i class="bx bx-user"></i>
          </div>
          <div class="input-box">
            <input
              type="password"
              class="input-field"
              placeholder="Password"
              name="password"
            />
            <i class="bx bx-lock-alt"></i>
          </div>
          <div class="input-box">
            <input type="submit" id="submit" class="submit" value="Sign In" />
          </div>
          <div class="two-col">
            <div class="one">
              <input type="checkbox" id="login-check" />
              <label for="login-check"> Remember Me</label>
            </div>
            <div class="two">
              <label><a href="#">Forgot password?</a></label>
            </div>
          </div>
        </div>

        <!------------------- registration form -------------------------->
        <div class="register-container" id="register">
          <div class="top">
            <span>Have an account? <a href="javascript:void(0)">Login</a></span>
            <header>Sign Up</header>
          </div>
          <div class="two-forms">
            <div class="input-box">
              <input
                type="text"
                class="input-field"
                placeholder="Firstname"
                name="firstname"
              />
              <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
              <input
                type="text"
                class="input-field"
                placeholder="Lastname"
                name="lastname"
              />
              <i class="bx bx-user"></i>
            </div>
          </div>
          <div class="input-box">
            <input
              type="text"
              class="input-field"
              placeholder="Email"
              name="email"
            />
            <i class="bx bx-envelope"></i>
          </div>
          <div class="input-box">
            <input
              type="password"
              class="input-field"
              placeholder="Password"
              name="password"
            />
            <i class="bx bx-lock-alt"></i>
          </div>
          <div class="input-box">
            <input
              type="submit"
              id="registerUser"
              class="submit"
              value="Register"
            />
          </div>
          <div class="two-col">
            <div class="one">
              <input type="checkbox" id="register-check" />
              <label for="register-check"> Remember Me</label>
            </div>
            <div class="two">
              <label><a href="#">Terms & conditions</a></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {};
  },
  methods: {
    init() {
      var myMenu = document.getElementById("navMenu");
      myMenu.onclick = () => {
        var i = document.getElementById("navMenu");

        if (i.className === "nav-menu") {
          i.className += " responsive";
        } else {
          i.className = "nav-menu";
        }
      };

      var a = document.getElementById("loginBtn");
      var b = document.getElementById("registerBtn");
      var x = document.getElementById("login");
      var y = document.getElementById("register");
      a.onclick = () => {
        x.style.left = "4px";
        y.style.right = "-520px";
        a.className += " white-btn";
        b.className = "btn";
        x.style.opacity = 1;
        y.style.opacity = 0;
      };
      b.onclick = () => {
        console.log(44);
        x.style.left = "-510px";
        y.style.right = "5px";
        a.className = "btn";
        b.className += " white-btn";
        x.style.opacity = 0;
        y.style.opacity = 1;
      };

      var submit = document.getElementById("submit");
      submit.onclick = (event) => {
        this.submit();
      };
      var registerUser = document.getElementById("registerUser");
      registerUser.onclick = (event) => {
        this.registerUser();
      };
    },
    submit() {
      var username = document.querySelector("#login .input-field").value;
      var password = document.querySelector(
        '#login .input-field[type="password"]'
      ).value;
      this.$http
        .post(`/api/login`, {
          username: username,
          password: password,
        })
        .then((response) => response.json())
        .then((res) => {
          if (res.code !== 200) {
            // this.$Loading.error()
            this.$Message.error("Invalid username or password");
            return;
          }
          // this.$Loading.finish()
          this.$Message.success("success");
          localStorage.setItem("userData", JSON.stringify(res.data));
          this.$router.push({ path: "/dashboard" });
        });
    },
    registerUser() {
      var firstname = document.querySelector(
        '#register .input-field[placeholder="Firstname"]'
      ).value;
      var lastname = document.querySelector(
        '#register .input-field[placeholder="Lastname"]'
      ).value;
      var email = document.querySelector(
        '#register .input-field[placeholder="Email"]'
      ).value;
      var password = document.querySelector(
        '#register .input-field[type="password"]'
      ).value;
      this.$http
        .post(`/api/register`, {
          firstname: firstname,
          lastname: lastname,
          email: email,
          password: password,
        })
        .then((response) => response.json())
        .then((res) => {
          if (res.code !== 200) {
            // this.$Loading.error()
            this.$Message.error("Registration failed");
            return;
          }
          // this.$Loading.finish()
          this.$Message.success("success");
          this.$router.push({ path: "/login" });
        });
    },
  },
  created() {},
  mounted() {
    this.init();
  },
};
</script>
