<style scoped>
.ivu-btn-success,
.ivu-btn-info {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 400;
  padding: 0.375rem 1.37rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
.ivu-select-selection:hover,
.ivu-checkbox-checked .ivu-checkbox-inner,
.ivu-btn-info:hover,
.ivu-btn-small:hover,
.ivu-btn-info,
.ivu-btn-primary,
.ivu-btn-success {
  border: 1px solid #28a745;
}
.ivu-btn-small:hover,
.ivu-btn-info,
.ivu-btn-text:hover {
  color: #28a745;
}
.ivu-checkbox-checked .ivu-checkbox-inner,
.ivu-btn-primary {
  background-color: #28a745;
}
.ivu-btn-info:hover {
  color: #fff;
}
.ivu-btn-small:hover,
.ivu-btn-info {
  background-color: #fff;
}
.ivu-btn-primary,
.ivu-btn-success,
.ivu-checkbox-checked .ivu-checkbox-inner,
.ivu-btn-info:hover {
  background-color: #28a745;
}
.article-box-title {
  width: 100%;
  height: 80px;
}
.article-box--title-home,
.article-box-title-input,
.article-box-foot-type,
.article-box-foot-publish,
.article-box-foot-tag {
  display: block;
  height: 100%;
  border: 0;
  float: left;
}
.article-box-title-input {
  width: 100%;
  padding-left: 10px;
  font-size: 30px;
}
.article-box-title-input:focus {
  outline: none;
}
.article-box--title-home {
  width: 150px;
  padding-top: 22px;
  text-align: center;
}
.article-box-content {
  width: 100%;
  height: calc(100% - 180px);
}
.article-box-foot {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.article-box-foot-type {
  width: 200px;
  padding-top: 16px;
  padding-left: 10px;
}
.article-box-foot-tag {
  width: calc(100% - 550px);
  padding-top: 22px;
  padding-left: 15px;
}
.article-box-foot-publish {
  width: 350px;
  padding-top: 20px;
  text-align: center;
}
.tag-group {
  margin-bottom: 10px;
  line-height: 32px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #eee;
}
@media (max-width: 768px) {
  .article-box-title-input,
  .article-box-foot-tag,
  .article-box-foot-type,
  .article-box-foot-publish,
  .article-box--title-home {
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
}
</style>
<template>
  <div class="article-editor article-box" :style="{ height: containerHeight }">
    <div class="article-box-title">
      <input
        v-model="article.title"
        class="article-box-title-input"
        placeholder="Enter the title of the article here"
      />
    </div>
    <mavon-editor
      class="article-box-content"
      placeholder="Enter the content of the article here, in markdown format."
      language="en"
      :style="{ zIndex: 0 }"
      :toolbars="editorSetting"
      v-model="article.description"
      ref="md"
      @save="updateArticle"
      @imgAdd="addImg"
    />
    <div class="article-box-foot">
      <div class="article-box-foot-publish">
        <Button @click="goHome" type="info">back</Button
        >&nbsp;&nbsp;&nbsp;&nbsp;
        <Button @click="saveArticle" type="success">publish</Button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Publish",
  data() {
    return {
      containerHeight: "500px",
      article: {
        id: null,
        title: "",
        description: "",
      },
      editorSetting: {
        bold: true, // 粗体
        italic: true, // 斜体
        header: true, // 标题
        underline: true, // 下划线
        strikethrough: true, // 中划线
        mark: true, // 标记
        superscript: true, // 上角标
        subscript: true, // 下角标
        quote: true, // 引用
        ol: true, // 有序列表
        ul: true, // 无序列表
        link: true, // 链接
        imagelink: true, // 图片链接
        code: true, // code
        table: true, // 表格
        fullscreen: true, // 全屏编辑
        readmodel: true, // 沉浸式阅读
        // htmlcode: true, // 展示html源码
        help: true, // 帮助
        /* 1.3.5 */
        undo: true, // 上一步
        redo: true, // 下一步
        // trash: true, // 清空
        save: true, // 保存（触发events中的save事件）
        /* 1.4.2 */
        navigation: true, // 导航目录
        /* 2.1.8 */
        alignleft: true, // 左对齐
        aligncenter: true, // 居中
        alignright: true, // 右对齐
        /* 2.2.1 */
        // subfield: true, // 单双栏模式
        preview: true, // 预览
      },
    };
  },
  methods: {
    goHome() {
      this.$router.push({ path: "/forum" });
    },
    showTagSelectModel() {
      this.isShowTagSelectModel = true;
    },
    loadArticle(id) {
      this.$Loading.start();
      this.$http.post(`/publish/${id}`).then((res) => {
        const question = res.data.data.question;
        // if (res.code !== 200) {
        //   this.$Loading.error()
        //   return
        // }
        // this.$Loading.finish()
        this.article.description = question.description;
        this.article.title = question.title;
        this.article.id = question.id;
        document.title = question.title;
      });
    },
    updateArticle() {
      this.postArticle("更新成功", () => {});
    },
    saveArticle() {
      this.postArticle("保存成功", () => {
        this.$router.push({ path: "/forum" });
      });
    },
    postArticle(message, callback) {
      if (!this.preCheck()) {
        return;
      }
      const headImgs = this.getHeadImgs();
      this.$Loading.start();
      this.$http
        .post(`/publish/add`, {
          id: this.article.id,
          title: this.article.title,
          contentType: "MARKDOWN",
          markdownContent: this.article.markdownContent,
          htmlContent: this.$refs.md.d_render,
          headImg: headImgs.length > 0 ? JSON.stringify(headImgs) : "",
        })
        .then((res) => {
          // if (res.code !== 200) {
          //   this.$Loading.error()
          //   this.$Message.error(res.message)
          //   return
          // }
          // this.$Loading.finish()
          this.article.id = res.data;
          this.$Message.success(message);
          callback();
        });
    },
    preCheck() {
      if (!this.article.title) {
        this.$Message.error("标题不能为空");
        return false;
      }
      if (!this.article.markdownContent) {
        this.$Message.error("内容不能为空");
        return false;
      }
      if (!this.article.typeId) {
        this.$Message.error("类别不能为空");
        return false;
      }
      return true;
    },
    getHeadImgs() {
      const pattern = /!\[(.*?)\]\((.*?)\)/gm;
      const result = [];
      let matcher;
      while ((matcher = pattern.exec(this.article.markdownContent)) !== null) {
        result.push({
          alt: matcher[1],
          url: matcher[2],
        });
      }
      return result;
    },
    addImg(pos, $file) {
      var formdata = new FormData();
      formdata.append("image", $file);
      this.$Loading.start();
      this.$http
        .post("/file/upload", formdata, {
          headers: {
            "Content-Type": "multipart/form-data",
            token: localStorage.getItem("token"),
          },
        })
        .then((res) => {
          // if (res.code !== 200) {
          //   this.$Loading.error()
          //   return
          // }
          // this.$Loading.finish()
          this.$refs.md.$img2Url(pos, res.data.data.url);
        });
    },
  },
  created() {
    let allHeight = window.innerHeight;
    this.containerHeight = allHeight + "px";
    if (this.$route.params.id) {
      this.loadArticle(this.$route.params.id);
    } else {
      document.title = "article";
      this.article.markdownContent = `# 一 Header 1

        ## 1.1 Header 2 title

        - xxxx;
        - xxxx;

        ## 1.2 Header 2 title

        1. xxxx;
        2. xxxx;`;
    }
  },
};
</script>
