<style scoped>
@import "../assets/css/comment.css";
.media {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
}

.comments-section, .user-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.comments-section {
    flex: 2;
}

.user-info {
    height: 700px;
    flex: 1;
}

.forumTitle{
    font-size: 20px;
}

.comment-box h3, .user-info h3 {
    margin-bottom: 15px;
    color: #333;
}

.comment {
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.comment p {
    margin: 0;
}

.comment-form {
    margin-top: 20px;
    display: flex;
    gap: 10px; /* Add some space between textarea and button */
}

.comment-form textarea {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}


/* left input */
.user-details {
    position: relative;
}
.name-inputs {
    display: flex;
    justify-content: space-between;
}

.edit-input {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
}

#nameInput {
    padding: 5px;
    border: #ccc 1px solid;
    border-radius: 5px;
    width: 50%;
}
#lastNameInput {
    padding: 5px;
    border: #ccc 1px solid;
    border-radius: 5px;
    width: 50%;
}

#emailInput {
    border: #ccc 1px solid;
    border-radius: 5px;
    top: 40px;
}

.showInput{
    display: block;
}
#passWordInput{
    border: #ccc 1px solid;
    border-radius: 5px;
    top: 80px;
}
.hidenUser{
    display: none;
}
#editUserInfo{
    margin-top: 100px;
}
#userName{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
#userEmail{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.el-divider--horizontal{
  height: 0.5px;
}
.related-text{
  display: inline-block;
  max-width: 22em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /*超出部分用...代替*/
}
.page-text{
  line-height: 30px;
  width: 50%;
  color: #909399;
  text-align: center;
  justify-content: center;
}
.box-card{
  margin-bottom: 10px;
}
.avatar{
  position: relative;
  margin: 30px auto 15px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 9
}
.card-header{
  padding: 10px 0px;

}
.desc{
  font-size: 15px;
  color: #878d99;
  line-height: 30px;
  font-weight: 100;
  text-align: center;
}
.social{
  padding: 0 20px;
  margin-top: 15px;
}
.link-img{
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: auto;
}
</style>
<template>
  <div>
    <header class="header">

      <router-link to="/dashboard" class="logo"> <span>Gym</span>FIT </router-link>

      <div id="menu-btn" class="fas fa-bars"></div>

      <nav class="navbar">
          <router-link to="/dashboard">home</router-link>
          <router-link to="/dashboard">about</router-link>
          <router-link to="/dashboard">features</router-link>
          <router-link to="/dashboard">pricing</router-link>
          <router-link to="/dashboard">trainers</router-link>
          <router-link to="/dashboard">blogs</router-link>
      </nav>

      </header>   
      <section class="media">
        <div class="container">
          <div class="comments-section">
                <div class="comment-box">
                  <el-main>
                    <el-card shadow="never" >
                      <h3 class="question-title"><span>{{question.title}}</span></h3>
                      <span class="text-desc">
                        作者：<span>{{question.username}}</span> |
                        发布时间：<span>{{question.creat_time}}</span> |
                        阅读数： <span>{{question.view_count}}</span>
                      </span>
                      <router-link style="margin-left: 10px" :to="{name: 'Article', params: {questionId: question.id}}" v-if="ownQuestion">
                        <el-link icon="el-icon-edit">
                          编辑
                        </el-link>
                      </router-link>

                      <el-divider></el-divider>
                      <div style="min-height: 400px" class="markdown-body" v-html="question.content"></div>
                    </el-card>

                    <!--评论模块-->
                    <div style="margin-top: 10px">
                      <el-card shadow="never">
                        <h3><span>{{question.comment_count}}</span> 个回复</h3>
                        <el-divider style="height: 0.5px"></el-divider>
                        <!--评论内容-->
                        <div>
                          <div v-clickoutside="hideReplyBtn" @click="inputFocus" class="my-reply">
                            <el-avatar class="header-img" :size="40" :src="myHeader" style="background-color: #ffffff;"></el-avatar>
                            <div class="reply-info" >
                              <div
                                  tabindex="0"
                                  contenteditable="true"
                                  id="replyInput"
                                  spellcheck="false"
                                  placeholder="输入评论..."
                                  class="reply-input"
                                  @focus="showReplyBtn"
                                  @input="onDivInput($event)"
                              >
                              </div>
                            </div>
                            <div class="reply-btn-box" v-show="btnShow">
                              <el-button class="reply-btn" size="medium" @click="sendComment" type="primary">发表评论</el-button>
                            </div>
                          </div>
                          <!--主评论列表-->
                          <div v-for="(item,i) in comments" :key="i" class="author-title reply-father">
                            <el-avatar class="header-img" :size="40" :src="item.user.avatar_url"></el-avatar>
                            <div class="author-info">
                              <span class="author-name">{{item.user.name}}</span>
                              <span class="author-time">{{item.gmt_create}}</span>
                            </div>
                            <div class="icon-btn">
                              <!--传入这个评论创建者的id-->
                              <span @click="showReplyInput(i,item.user.name,item.user.id)"><i class="iconfont el-icon-chat-dot-round"></i>{{item.comment_count}}</span>
                              <i class="iconfont el-icon-thumb"></i>{{item.like_count}}
                            </div>
                            <!--主评论内容-->
                            <div class="talk-box">
                              <p>
                                <span class="reply">{{item.content}}</span>
                              </p>
                            </div>
                            <!--二级评论列表-->
                            <div class="reply-box">
                              <div v-for="(reply,j) in item.replys" :key="j" class="author-title">
                                <el-avatar class="header-img" :size="40" :src="reply.user.avatar_url"></el-avatar>
                                <div class="author-info">
                                  <span class="author-name">{{reply.user.name}}</span>
                                  <span class="author-time">{{reply.gmt_create}}</span>
                                </div>
                                <div class="icon-btn">
                                  <!--传入这个评论创建者的id和姓名-->
                                  <span @click="showReplyInput(i,reply.user.name,reply.user.id)"><i class="iconfont el-icon-chat-dot-round"></i>回复</span>
                                  <i class="iconfont el-icon-thumb"></i>{{reply.like_count}}
                                </div>
                                <div class="talk-box">
                                  <p style="font-size: 14px">
                                    <span>回复 {{reply.receiver_name}}:</span>
                                    <span class="reply">{{reply.content}}</span>
                                  </p>
                                </div>
                                <div class="reply-box">

                                </div>
                              </div>
                            </div>
                            <!--二级评论的输入框-->
                            <transition name="el-zoom-in-top">
                              <div  v-show="_inputShow(i)" class="my-reply my-comment-reply">
                                <el-avatar class="header-img" :size="40" :src="myHeader" style="background-color: #ffffff;"></el-avatar>
                                <div class="reply-info" >
                                  <div tabindex="0" contenteditable="true" spellcheck="false" placeholder="输入评论..."   @input="onDivInput($event)"  class="reply-input reply-comment-input"></div>
                                </div>
                                <div class=" reply-btn-box">
                                  <el-button class="reply-btn" size="medium" @click="sendCommentReply(i)" type="primary">发表评论</el-button>
                                </div>
                              </div>
                            </transition>
                          </div>
                        </div>
                      </el-card>
                    </div>
                  </el-main>
                </div>
          </div>
        </div>
      </section>
      <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
              <a class="links" href="javascript:void(0)"  @click="scrollToSection('home')">home</a>
              <a class="links" href="javascript:void(0)" @click="scrollToSection('about')">about</a>
              <a class="links" href="javascript:void(0)" @click="scrollToSection('features')">features</a>
              <a class="links" href="javascript:void(0)" @click="scrollToSection('pricing')">pricing</a>
              <a class="links" href="javascript:void(0)"  @click="scrollToSection('trainers')">trainers</a>
              <a class="links" href="#">view classes</a>
              <a class="links" href="#">member center</a>
              <a class="links" href="javascript:void(0)" @click="scrollToSection('blogs')">blogs/comunity</a>
              <router-link to="/publish/add">publish</router-link>
            </div>

            <div class="box">
                <h3>opening hours</h3>
                <p> monday : <i> 7:00am - 10:30pm </i> </p>
                <p> tuesday : <i> 7:00am - 10:30pm </i> </p>
                <p> wednesday : <i> 7:00am - 10:30pm </i> </p>
                <p> friday : <i> 7:00am - 10:30pm </i> </p>
                <p> saturday : <i> 7:00am - 10:30pm </i> </p>
                <p> sunday : <i> closed </i> </p>
            </div>

            <div class="box">
                <h3>contact us</h3>
                <p> <i class="fas fa-phone"></i> 1556-838-22267 </p>
                <p> <i class="fas fa-phone"></i> 0512-625-80123 </p>
                <p> <i class="fas fa-envelope"></i>3245338358@qq.com </p>
                <p> <i class="fas fa-map"></i> Hongkon'g, China - 400104 </p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                </div>
            </div>

            <div class="box">
                <h3>newsletter</h3>
                <p>subscribe for latest updates</p>
                <form action="">
                    <input type="email" name="" class="email" placeholder="enter your email" id="">
                    <input type="submit" value="subscribe" class="btn">
                </form>
            </div>

        </div>

      </section>
  </div>
</template>

<script>
import axios from 'axios'
const clickoutside = {
  // 初始化指令
  bind(el, binding, vnode) {
    function documentHandler(e) {
      // 这里判断点击的元素是否是本身，是本身，则返回
      if (el.contains(e.target)) {
        return false;
      }
      // 判断指令中是否绑定了函数
      if (binding.expression) {
        // 如果绑定了函数 则调用那个函数，此处binding.value就是handleClose方法
        binding.value(e);
      }
    }
    // 给当前元素绑定个私有变量，方便在unbind中可以解除事件监听
    el.vueClickOutside = documentHandler;
    document.addEventListener('click', documentHandler);
  },
  update() {},
  unbind(el, binding) {
    // 解除事件监听
    document.removeEventListener('click', el.vueClickOutside);
    delete el.vueClickOutside;
  },
};
export default {
  name: 'Question',
  data () {
    return {
      question: {
        id: "11",
        title: "222",
        content: "444444",
        username:"5555",
        creat_time:"20240522",
        view_count:"440",
        comment_count:"5555",
      },
      comments:[{
        // inputShow: false,
        user: {
          name: '哈哈',
          avatar_url: '',
          id: '111'
        },
        gmt_create: '55555555',
        comment_count: 20,
        like_count: 50,
        content: '你好',
        replys: [{
            user: {
            name: 'admin',
            avatar_url: '',
            id: '222'
          },
          gmt_create: '666666',
          comment_count: 20,
          like_count: 50,
          content: '你也好',
        }]
      }],
      relatedQuestions:{},
      ownQuestion: false,
      btnShow: false,
      index:'0',//当前输入框对应的一级评论
      replyComment:'',//h回复的内容
      myName:'匿名用户',
      myHeader:require('../assets/images/avatar.png'),
      myId:19870621,
      receiver_name:'',//用于表示当前输入框中的评论要发送的对象名称
      receiver_id:-1,//评论要发送的对象id
     }
  },
  created() {
    const questionId = this.$route.params.questionId
    const _this = this
    // this.$axios.get('/question/' + questionId).then(res => {
    //   const question = res.data.data.question
    //   _this.comments = res.data.data.comments
    //   //做时间格式化处理
    //   for (const comment of _this.comments) {
    //     comment.gmt_create = _this.$moment(comment.gmt_create).format('YYYY-MM-DD')
    //     for (const reply of comment.replys) {
    //       reply.gmt_create = _this.$moment(reply.gmt_create).format('YYYY-MM-DD')
    //     }
    //   }
    //   _this.relatedQuestions = res.data.data.relatedQuestions
    //   _this.question.id = question.id
    //   _this.question.title = question.title
    //   _this.question.username = question.user.name
    //   _this.question.creat_time = _this.$moment(question.gmt_create).format('YYYY-MM-DD')
    //   _this.question.view_count = question.view_count
    //   _this.question.comment_count = question.comment_count

    //   var MardownIt = require("markdown-it")
    //   var md = new MardownIt()

    //   var result = md.render(question.description)
    //   _this.question.content = result
    //   if(_this.$store.getters.getUser!=null){
    //     _this.ownQuestion = (question.creator === _this.$store.getters.getUser.id)
    //   }
    // })
    // if(this.$store.getters.getUser&&this.$store.getters.getUser.name) {
    //   const userInfo = this.$store.getters.getUser
    //   this.myHeader = userInfo.avatar_url
    //   this.myName = userInfo.name
    //   this.id = userInfo.id
    //   this.hasLogin = true
    // }
  },
  watch: {
    '$route.params.questionId':function(val, old) {
      if (val !== old) {
        this.reload()
      }
    },
  },
  directives: {clickoutside},
  
  methods: {
    inputFocus(){
      var replyInput = document.getElementById('replyInput');
      replyInput.style.padding= "8px 8px"
      replyInput.style.border ="2px solid blue"
      replyInput.focus()
    },
    showReplyBtn(){
      this.btnShow = true
    },
    hideReplyBtn(){
      this.btnShow = false
      replyInput.style.padding= "10px"
      replyInput.style.border ="none"
    },
    //输入将要发送评论对象的id和name，更新当前输入框评论对象的信息
    showReplyInput(i,name,id){
      this.comments[this.index].inputShow = false
      this.index = i
      this.comments[i].inputShow = true
      this.receiver_name = name
      this.receiver_id = id
      this.comments = this.comments
      this.$forceUpdate();
    },
    _inputShow(i){
      return this.comments[i].inputShow
    },
    //发表主评论主评论就不用带回复的id了，直接查问题作业就行
    sendComment(){
      if(!this.replyComment){
        this.$message({
          showClose: true,
          type:'warning',
          message:'评论不能为空'
        })
      }//判断用户有没有登录
      else if(!this.$store.getters.getUser||!this.$store.getters.getUser.name){
        this.$message({
          showClose: true,
          type:'error',
          message:'请先登录账户'
        })
      }
      else{
        let a ={}
        let input =  document.getElementById('replyInput')
        let timeNow = new Date().getTime();
        let time= this.dateStr(timeNow);
        let user = {}
        let commentDto = {}//和后端传输需要的数据保持一致
        commentDto.parent_id = this.question.id
        commentDto.content = this.replyComment
        commentDto.type = 1//表示回复的是问题
        a.user = user
        a.user.name= this.myName
        a.content =this.replyComment
        a.user.avatar_url = this.myHeader
        a.gmt_create = time
        a.comment_count = 0
        a.like_count = 0
        this.comments.unshift(a)
        //this.comments.push(a)
        this.replyComment = ''
        input.innerHTML = '';
        //发送一个post请求
        this.$http.post('/comment', commentDto, {
          headers: {
            "Authorization": localStorage.getItem("token")
          }
        }).then(res => {
          this.$alert('操作成功', '提示', {
            confirmButtonText: '确定',
            callback: action => {
            }
          });

        })
      }
    },
    //发表二级评论带上接受者的id，这样方便通知
    sendCommentReply(i){
      if(!this.replyComment){
        this.$message({
          showClose: true,
          type:'warning',
          message:'评论不能为空'
        })
      }
      else if(!this.$store.getters.getUser||!this.$store.getters.getUser.name){
        this.$message({
          showClose: true,
          type:'error',
          message:'请先登录账户'
        })
      }
      else{
        let a ={}
        let timeNow = new Date().getTime();
        let time= this.dateStr(timeNow);
        let user = {}
        let commentDto = {}//和后端传输需要的数据保持一致
        commentDto.parent_id = this.comments[i].id
        commentDto.content = this.replyComment
        commentDto.type = 2//表示回复的是评论
        commentDto.receiver_id = this.receiver_id
        a.user = user
        a.user.name= this.myName
        a.receiver_name = this.receiver_name
        a.user.avatar_url = this.myHeader
        a.content =this.replyComment
        a.gmt_create = time
        a.comment_count = 0
        a.like_count = 0
        this.comments[i].replys.push(a)
        this.replyComment = ''
        document.getElementsByClassName("reply-comment-input")[i].innerHTML = ""
        //发送一个post请求
        this.$http.post('/comment', commentDto, {
          headers: {
            "Authorization": localStorage.getItem("token")
          }
        }).then(res => {
          this.$alert('操作成功', '提示', {
            confirmButtonText: '确定'
          });

        })
      }
    },
    onDivInput: function(e) {
      this.replyComment = e.target.innerHTML;
    },
    dateStr(date){
      //获取js 时间戳
      var time=new Date().getTime();
      //去掉 js 时间戳后三位，与php 时间戳保持一致
      time=parseInt((time-date)/1000);
      //存储转换值
      var s;
      if(time<60*10){//十分钟内
        return '刚刚';
      }else if((time<60*60)&&(time>=60*10)){
        //超过十分钟少于1小时
        s = Math.floor(time/60);
        return  s+"分钟前";
      }else if((time<60*60*24)&&(time>=60*60)){
        //超过1小时少于24小时
        s = Math.floor(time/60/60);
        return  s+"小时前";
      }else if((time<60*60*24*30)&&(time>=60*60*24)){
        //超过1天少于30天内
        s = Math.floor(time/60/60/24);
        return s+"天前";
      }else{
        //超过30天ddd
        var date= new Date(parseInt(date));
        return date.getFullYear()+"/"+(date.getMonth()+1)+"/"+date.getDate();
      }
    }
  },
  mounted(){

  }
}
</script>
